@font-face {
    font-family: 'CimeroPro';
    src: url('../fonts/CimeroPro/CimeroPro.otf');
    src: url('../fonts/CimeroPro/CimeroPro.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Mak';
    src: url('../fonts/Mak/MAK-bold.otf');
    src: url('../fonts/Mak/MAK-bold.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body._lock {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

:root {
	--main-font: 'CimeroPro';
  --main-font-bold: 'CimeroPro';
  --other-fonts: 'Montserrat';
  --other-fonts-bold: 'OpenSans';
}

/* Repetitive */
.wrapper {
	width: 85%;
	margin: 0 auto;
}

.section__header {
  justify-content: space-between;
}

.section__header h1 {
  max-width: 50%;
  flex-wrap: wrap;
}

.section__header h1 img {
  margin: 0 26px;
}

.section__header p {
  max-width: 40%;
  text-align: right;
}

.section__header,
.section__header h1 { display: flex; }

.samples,
.works,
.calculate,
.masters,
.choose-us {
  background-color: #FCF9F5;
}
/* __________ */

/* Header */
.header {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)),
              url('../assets/header_bg.png') 0 0 / 110% no-repeat;
	color: #F2ECE6;
}
.wrapper__top-nav {
  display: flex;
  justify-content: space-between;
}
.header .wrapper {
  position: relative;
  padding: 50px 0 0 0;
  height: 100vh;
}

  /* Burger menu */
.menu__burger {
  width: 100px;
  height: 33px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.menu__burger::after,
.menu__burger::before,
.menu__burger span {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background: #F2ECE6;
  transition: all 0.3s ease;
  z-index: 6;
}
.menu__burger::after,
.menu__burger::before { content: ""; }

.menu__burger._active::after,
.menu__burger._active::before,
.menu__burger._active span {
  background: black;;
}

.menu__burger._active span {
  transform: scale(0);
}
.menu__burger._active::before {
  top: 50%;
  transform: scale(0.7) rotate(-45deg) translate(0px, -50%);
}
.menu__burger._active::after {
  bottom: 50%;
  transform: scale(0.7) rotate(45deg) translate(0px, 50%);
}

.menu__burger span {
  top: 50%;
  transform: scale(1) translateY(-50%);
}
.menu__burger::before { top: 0; }
.menu__burger::after { bottom: 0; }

.menu__body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #FFE8D6;
  z-index: 10;
  overflow: auto;
  transform: translate(0, -100%);
  transition: transform 0.3s ease;
}
.menu__body._active {
  transform: translate(0, 0);
}

.menu__list { z-index: 6; }

.menu__item {
  color: black;
  font-family: var(--main-font-bold);
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 6px solid #fff;
  line-height: 1;
  padding: 50px 0;
}
.menu__item:last-child {
  border: 0;
}
.menu__item:hover {
  text-decoration: underline;
}

  /* __________ */


.header__logo,
.header__contact {
  font-size: 2rem;
}

.header__logo {
  position: absolute;
	font-family: var(--main-font-bold);
	text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}

.header__contact {
  font-family: var(--other-fonts-bold);
  line-height: 1;
}

.header__contact a {
  position: relative;
}
.header__contact a::before {
  content: "";
  background-image: url('../assets/header_phone_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -45px;
  top: 7px;
}

.header__contact:hover {
  text-decoration: underline;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-family: var(--main-font);
  text-align: center;
  text-transform: uppercase;
  width: max-content;


}
.header__title--first-row {
  font-size: 8rem;
  line-height: 0.9;
  margin-bottom: 10px;

  color: black !important;
  text-fill-color: white;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -ms-text-fill-color: white;
}
.header__title--second-row {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 100px;
  font-family: var(--other-fonts);
  font-weight: 600;

  color: black !important;
  text-fill-color: white;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -ms-text-fill-color: white;
}
.header__title button {
  font-family: var(--other-fonts-bold);
  font-size: 1.5rem;
  background: url('../assets/buttom_bg.png') 0 0 / 100% no-repeat;
  border: none;
  padding: 22px 26px;
  border-radius: 8px;
}
/* ______ */

.section__header_first {
  font-size: 4rem;
  font-family: var(--main-font-bold);
  font-weight: 400;
  line-height: 1;
  z-index: 5;
}
.section__header_second {
  font-size: 2.25rem;
  font-weight: 400;
  font-family: var(--other-fonts);
  z-index: 5;
}

section .wrapper {
  padding: 120px 0;
}


.header__wrapper {
  display: flex;
  flex-direction: column;
}



/*=================== 
        Samples
  ===================*/
.samples {
  position: relative;
}

.samples .section__header_first {
  max-width: initial;
}

.samples .section__header_second {
  text-align: right;
}

#samples__backgorund-mask {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  display: none;
}

.samples__body {  
  padding-top: 222px;
  z-index: 5;
}

.samples__body__line {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 5;
  margin-top: 20px;
}
.samples__body__line:first-child {
  margin-top: 0;
}

.samples__body-item {
  height: 96px;
  color: #292C26;
  font-size: 3.5rem;
  font-family: var(--other-fonts-bold);
  line-height: 1;
  padding: 20px 48px;
  border: 2px solid #292C26;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  z-index: 5;

  transition: all 0.2s ease-out;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
}

.samples__body-item._selected,
.samples__body-item:hover {
  background: #292C26;
  color: #FFE8D6;
}

.samples__body-item._selected {
  box-shadow: 0px 10px 10px #292C26;
}
/*===================   
  ===================*/


/*===================
      Work Section
  ===================*/
.works .section__header_first {
  max-width: initial;
}

.works .section__header_first:last-child img {
  margin-left: 0;
}

.slider {
  margin-top: 100px;
  position: relative;
  height: 700px;
}
.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.slider__track {
  position: relative;
  height: 100%;
  transition: transform .25s linear;
}
.slider__track-containter {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 74.65%;
  z-index: 1;
  max-height: 650px;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  border: none;
  background: transparent;
  z-index: 2;
}
.slider__button--right {
  right: -40px;
}
.slider__button--left {
  left: -40px;
}
/*===================   
  ===================*/


/*=================== 
   Calculate Section
  ===================*/
.calculate .wrapper {
  position: relative;
}

.calculate .section__header_first {
  margin-bottom: 20px;
}

#calculate__image {
  margin-top: 100px;
}
.calculate__calculator {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  grid-gap: 30px;
  background: rgba(100, 88, 83, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 8px;

  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
.calculate__calculator p {
  font-size: 2.25rem;
  font-family: var(--main-font);
  line-height: 1;
}
.calculate__calculator {
  padding: 40px;
}
.calculate__calculator div p {
  margin-bottom: 20px;
}
.calculate__calculator input {
  width: 100%;
  height: 60px;
  padding-left: 25px;
  font-size: 1.5rem;
  font-family: var(--other-fonts);
  background: #C2C0BE;
  border-radius: 8px;
  border: 0;
}

/* Sending */
.calculate__calculator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.calculate__calculator._sending::after {
  opacity: 1;
  visibility: visible;
}
/* _______ */

.wall-setup__checkbox { display: flex; }

.wall-setup__checkbox input {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.calculate__calculator .button {
  align-self: end;
}
.calculate__calculator .button button {
  background: url('../assets/buttom_bg.png') 0 0 / 100% no-repeat;
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 8px;
}
.calculate__button {
  font-size: 1.5rem;
  line-height: 1;
  font-family: var(--other-fonts-bold);
}

  /* Toddler */
.work-scope__toddler {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  max-height: 36px;
  margin-bottom: 20px;
}

.work-scope__toddler * {
  margin-bottom: 0 !important;
}

.toddler-container {
  min-height: 40px;
  display: flex;
  align-items: center;
}

#toddler-result {
  font-family: var(--other-fonts);
  font-size: 1.5rem;
  line-height: 1.5;
}

#toddler {
  -webkit-appearance: none;
  height: 4px;
  background: #D6D4D2;
  padding: 0;
}

#toddler::-webkit-slider-thumb {
  cursor: pointer;
  background: url('../assets/toddler_circle.png') 0 0 / 100% no-repeat;
  width: 40px;
  height: 40px;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}

#toddler::-moz-range-thumb {
  cursor: pointer;
  background: url('../assets/toddler_circle.png') 0 0 / 100% no-repeat;
  height: 40px;
  width: 40px;
  border: 0;
}
  /* _______ */

  /* Dropdowns */
.dropdown {
  position: relative;
}

.dropdown__button,
.dropdown__list-item,
.radio {
  font-size: 1.5rem;
  font-family: var(--other-fonts);
  cursor: pointer;
}

.dropdown__button {
  position: relative;
  width: 100%;
  height: 60px;
  text-align: left;
  background: #C2C0BE;
  border-radius: 8px;
  border: 0;
  padding: 0 40px 0 24px;
}

.dropdown__list-item {
  border: 1px solid #C2C0BE;
  border-bottom: 0;
  padding: 12px 24px;
  color: #645853;
}

.dropdown__list {
  width: 100%;
  background: #EAE8E6;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  position: absolute;
  z-index: 1;
  display: none;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item:last-child {
  border-bottom: 0;
}
.dropdown__list-item:hover {
  background-color: #C2C0BE;
}

.dropdown__input-hidden {
  display: none;
}
  /* ________ */


  /* Chekcboxes */
.radio__input { display: none; }

.radio {
  display: inline-flex;
  align-items: center;
}

.radio__radio {
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #362620;
  border-radius: 50%;
  margin-right: 10px;
  padding: 8px;
  background: #C2C0BE;
}
.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #362620;
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.15s;
}
.radio__input:checked + .radio__radio::after {
  transform: scale(1.0);
}
.wall-setup__checkbox label {
  margin-right: 40px;
}
.wall-setup__checkbox label:last-child {
  margin-right: 0;
}
  /* __________ */
/*=================== 
  ===================*/

/*=================== 
        Masters
  ===================*/
.masters .section__header_first { max-width: initial; }

.masters__header {
  width: 100% !important;
}
.masters__people {
  width: 50%;
}
.masters__body {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}
.video {
  width: 50%;
}
.video video {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;

}
.description h1 {
  font-family: var(--main-font-bold);
  font-size: 3.375rem;
  text-align: center;
  color: #292C26;
}
.description p {
  font-family: var(--other-fonts);
  font-size: 2.25rem;
  text-align: center;
  color: #292C26;
}
.avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.avatar__item {
  border: 3px solid #292C26;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
  z-index: 2;
  cursor: pointer;
  filter: contrast(40%);

}

.avatar__item:first-child {
  z-index: 3;
  transform: translateX(70px);
}
.avatar__item:last-child {
  z-index: 1;
  transform: translateX(-70px);
}
.avatar__item._selected {
  opacity: 1;
  filter: contrast(100%);
}


.description__albert,
.description__eduard,
.description__victor {
  display: none;
}
.description .selected {
  display: block;

}
/*=================== 
  ===================*/


/*=================== 
      Choose Us
  ===================*/
.choose-us .section__header {
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.choose-us__reasons {
  /*display: flex;
  flex-wrap: wrap;
  position: relative;*/

  position: relative;
  min-height: 300px;
  margin-bottom: 40px;
}
.choose-us__reasons:last-child {
  margin-bottom: 0;
}


.choose-us__reasons-item--right { right: 0; }
.choose-us__reasons-item--left { left: 0; }

.choose-us__reasons-item--left .reasons,
.choose-us__reasons-item--right .reasons {
  width: 60%;
  font-family: var(--other-fonts);
  font-size: 1.75rem;
  line-height: 1.3;
  color: #292C26;
  text-align: center;
}

.choose-us__reasons-item--left span,
.choose-us__reasons-item--right span {
  color: #FF570A;
}

.left-clip {
  clip-path: ellipse(27.5% 50% at 27.5% 50%);
  min-height: inherit;
}
.right-clip {
  clip-path: ellipse(27.5% 50% at 72.5% 50%);
  height: 100%;
  min-height: inherit;
  background-image: url('https://www.textures.com/system/gallery/photos/Fabric/Plain%20Fabric/120847/FabricPlain0147_3_350.jpg');
}


.choose-us__reasons-item--left,
.choose-us__reasons-item--right {
  /*font-family: var(--other-fonts);
  font-size: 1.125rem;
  color: #292C26;
  line-height: 1.3;
  width: 50%;
  border: 2px solid #292C26;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 50px;*/


  display: flex;
  justify-content: center;
  align-items: center;


  border: 2px solid black;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  border-radius: 100%;
  top: 0;
  width: 55%;
}


.choose-us__reasons-item span {
  color: #CC492C;
}

.choose-us__item-number {
  font-family: var(--main-font-bold);
  font-size: 4rem;
  line-height: 1.3;
}

.choose-us__item-number.top-left {
  position: absolute;
  top: 5%;
  left: 5%;
}
.choose-us__item-number.top-right {
  position: absolute;
  top: 5%;
  right: 5%;
}
/*=================== 
  ===================*/


/*=================== 
    How Do We Work
  ===================*/
.how-we-work {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)),
              url('../assets/how_we_work_bg.png') 0 0 / 100% no-repeat;
  background-size: cover;
  position: relative;
}
.how-we-work::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  background-color: #000;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.how-we-work .wrapper {
  z-index: 3;
  color: #F2ECE6;
  position: relative;
}
.how-we-work .section__header_first {
  margin-bottom: 21px;
}
.how-we-work .section__header_second {
  font-size: 2rem;
  width: 70%;
  line-height: 1.3;
}
.how-we-work__items__header {
  font-family: var(--main-font);
  font-size: 3.375rem;
  line-height: 1.3;
  color: #F2ECE6;
  width: 55%;
}
.how-we-work__items__paragraph {
  font-family: var(--other-fonts);
  font-size: 2.125rem;
  line-height: 1.45;
  color: #F2ECE6;
  width: 40%;
}

.how-we-work__items {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #F2ECE6;
  margin-top: 100px;
  padding: 40px 0 40px 0;
}
/*=================== 
  ===================*/


/*===================
        Footer
  ===================*/
.footer {
  background: #2B2C2A;
}
.footer .wrapper {
  padding: 120px 0;
}
.footer h1 {
  text-transform: uppercase;
  font-family: 'Mak';
  font-size: 12.5rem;
  width: 100%;
  text-align: center;
  color: #F2ECE6;
  line-height: 1;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.footer__socials img {
}
.social-links {
  display: flex;
}
.footer__contacts {
  display: flex;
  gap: 90px;
  margin-top: 100px;
}
.footer__contacts__items {
  font-size: 2rem;
  font-family: var(--other-fonts);
  line-height: 1;
  color: #F2ECE6;
  width: 50%;
}
.footer__contacts__items h2 {
  font-size: 4rem;
  font-family: var(--main-font-bold);
}
.contacts-item {
  display: flex;
  gap: 25px;
  font-weight: 600;
  margin-top: 50px;
}
.contacts-item img {
  height: 100%;
}

.footer_contacts__map {
  width: 50%;
}
.footer_contacts__map iframe {
  border: 0;
  border-radius: 8px;
  width: 100%;
}
/*=================== 
  ===================*/


/*===================
        Errors
  ===================*/
._error {
  box-shadow: 0 0 15px red;
}




@media screen and (max-width: 1440px) {

  .header__title--first-row {
    font-size: 7.5rem;
  }
  .header__title--second-row {
    font-size: 2rem;
  }

  .menu__burger {
    width: 80px;
    height: 26px;
  }
  .menu__burger::after,
  .menu__burger::before,
  .menu__burger span {
    height: 6%;
  }

  .header__logo img {
    max-width: 84%;
  }
  .header__contact {
    font-size: 1.75rem;
  }
  .header__contact a::before {
    width: 24px;
    height: 24px;
    position: absolute;
    left: -40px;
  }

  .header__title button {
    padding-top: 15px;
    padding-bottom: 15px;
  }


  #calculate__image {
    height: 550px;
  }
  .calculate__calculator {
    bottom: 40px;
    width: 1000px;
  }

  .section__header_first,
  .section__header_first {
    font-size: 3.75rem;
  }
  .section__header_second {
    font-size: 1.875rem;
  }

  .samples__body-item {
    height: 76px;
    font-size: 2.25rem;
  }

  #samples__backgorund-mask {
    top: 6%;
  }


  .works .wrapper {
    padding: 0;
  }

  .masters__body {
    margin-top: 60px;
  }
  .avatar__item {
    width: 146px;
    height: 146px;
  }

  .description__albert p,
  .description__eduard p,
  .description__victor p {
    margin-top: 10px;
  }

  .description h1 {
    line-height: 1;
  }
  .description p {
    font-size: 1.625rem;
    line-height: 1.2;
  }


  .choose-us .wrapper {
    padding-top: 50px;
  }
  .choose-us__reasons-item--left .reasons,
  .choose-us__reasons-item--right .reasons {
    font-size: 1.625rem;
  }

  .how-we-work__items__header {
    font-size: 3rem;
  }
  .how-we-work__items__paragraph {
    font-size: 1.625rem;
    line-height: 1.45;
  }
  .how-we-work__items {
    margin-top: 60px;
  }
  .how-we-work .wrapper {
    padding-bottom: 20px;
  }


  .slider {
    height: 550px;
  }


  .footer h1 {
    font-size: 9rem;
    margin-bottom: 20px;
  }
  .footer__contacts {
    margin-top: 80px;
  }
  .footer__contacts__items h2 {
    font-size: 3.75rem;
  }
  .footer__contacts__items p {
    font-size: 1.625rem;
  }
  .contacts-item img {
    width: 25px;
  }



  .menu__item {
    font-size: 4rem;
    padding: 37px 0;
  }

}



@media screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }


  .header__contact {
    font-size: 1.5rem;
  }
  .header__contact a::before {
    height: 20px;
    width: 20px;
    left: -30px;
  }
  .header .wrapper {
    height: 85vh;
  }


  #samples__backgorund-mask {
    display: none !important;
  }


  .samples .wrapper {
    padding-top: 70px;
  }
  .section__header {
    display: block;
  }
  .header__wrapper {
    flex-direction: row;
    gap: 20px;
  }
  .samples .section__header_second {
    text-align: left;
  }
  .section__header p {
    max-width: 100% !important;
    text-align: left;
  }
  .section__header_second br {
    display: none;
  }

  .slider {
    height: 488px;
  }


  .calculate__calculator {
    width: 880px;
    left: 64px;
  }


  .masters .wrapper {
    padding-bottom: 50px;
  }
  .masters__body {
    display: block;
  }
  .video {
    width: 100%;
  }
  .masters__people {
    width: 100%;
    margin-top: 65px;
    min-height: 341px;
  }
  .avatar__item:last-child {
    transform: translateX(-50px);
  }
  .avatar__item:first-child {
    transform: translateX(50px);
  }
  .description h1 {
    font-weight: 400;
    margin-bottom: 10px;
  }
  .description p {
    max-width: 80%;
    margin: 0 auto;
  }



  .how-we-work .section__header_first {
    max-width: 100%;
  }
  .how-we-work .section__header_second {
    font-size: 1.875rem;
    margin-bottom: 60px;
  }
  .how-we-work__items {
    display: block;
    padding: 60px 0;
    margin-top: 0;
  }
  .how-we-work__items__header {
    margin-bottom: 10px;
  }
  .how-we-work__items__header,
  .how-we-work__items__paragraph {
    width: 100%;
  }


  .footer .wrapper {
    padding-top: 60px;
  }
  .footer h1 {
    font-size: 7.5rem;
  }
  .footer__contacts__items h2 {
    font-weight: 400;
  }
  .footer__contacts__items {
    width: 70%;
  }
  .footer_contacts__map {
    width: 60%;
  }
  .footer__contacts {
    gap: 50px;
  }


  .menu__item {
    font-size: 3.5rem;
    padding: 30px 0;
  }

  /*Главное чтоб все не полетело*/
}
