@font-face {
    font-family: 'CimeroPro';
    src: url('../fonts/CimeroPro/CimeroPro.otf');
    src: url('../fonts/CimeroPro/CimeroPro.otf') format("opentype");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
  font-family: 'Mak';
  src: url('../fonts/Mak/MAK-bold.otf');
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body._lock {
  overflow: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

section {
  overflow: hidden;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

/* Запрещаем выделение текста */
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

:root {
	--main-font: 'CimeroPro';
  --main-font-bold: 'CimeroPro';
  --other-fonts: 'Montserrat';
  --other-fonts-bold: 'Montserrat';
}

/* Repetitive */
.wrapper {
	width: 85%;
	margin: 0 auto;
}

.section__header {
  justify-content: space-between;
}

.section__header h1 {
  max-width: 100%;
  flex-wrap: wrap;
}

.section__header h1 img {
  margin: -3px 20px 0 20px;
  border: 3px solid #292C26;
  border-radius: 50%;
}

.section__header p {
  max-width: 45%;
  text-align: right;
}

.section__header,
.section__header h1 { display: flex; }

.samples,
.works,
.calculate,
.masters_desktop,
.choose-us {
  background-color: #FCF9F5;
}
/* __________ */

/* Header */
.header {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)),
              url('../assets/header/header_bg.png') 0 0 / 110% no-repeat;
  background-size: cover;
	color: #F2ECE6;
}
.wrapper__top-nav {
  display: flex;
  justify-content: space-between;
}
.header .wrapper {
  position: relative;
  padding: 50px 0 0 0;
  height: 100vh;
}


  /* Burger menu */
.menu__burger {
  width: 100px;
  height: 33px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 15;
  transition: width .5s ease;
}
.menu__burger::after,
.menu__burger::before,
.menu__burger span {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background: #F2ECE6;
  transition: all 0.3s ease;
  z-index: 6;
}
.menu__burger::after,
.menu__burger::before { content: ""; }

.menu__burger._active span {
  transform: scale(0);
}
.menu__burger._active::before {
  top: 50%;
  transform: scale(0.7) rotate(-45deg) translate(0px, -50%);
}
.menu__burger._active::after {
  bottom: 50%;
  transform: scale(0.7) rotate(45deg) translate(0px, 50%);
}

.menu__burger span {
  top: 50%;
  transform: scale(1) translateY(-50%);
}
.menu__burger::before { top: 0; }
.menu__burger::after { bottom: 0; }

.menu__burger:hover::after { width: 50%; }
.menu__burger:hover span { width: 75%; }

.menu__burger._active:hover::after { width: 100%; }
.menu__burger._active:hover span {  width: 100%; }

.menu__body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background: url('../assets/header/header_bg.png') 0 0 / 100% no-repeat;
  z-index: 10;
  overflow: auto;
  transform: translate(0, -100%);
  transition: transform 0.3s ease;
}
.blur {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__body._active {
  transform: translate(0, 0);
}

.menu__list { z-index: 6; }

.menu__item {
  color: #fff;
  font-family: var(--main-font-bold);
  font-size: 4rem;
  text-align: center;
  border-bottom: 3px solid #fff;
  line-height: 1;
  padding: 40px 0;
  text-transform: uppercase;
}
.menu__item:last-child { border: 0; }
.menu__item:hover { text-decoration: underline; }
  /* __________ */

.header__logo,
.header__contact {
  font-size: 2rem;
}

.header__logo {
  position: absolute;
	font-family: var(--main-font-bold);
	text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}

.header__contact {
  font-family: var(--other-fonts-bold);
  line-height: 1;
}

.header__contact a {
  position: relative;
}
.header__contact a::before {
  content: "";
  background-image: url('../assets/header/header_phone_icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -45px;
  top: 7px;
}

.header__contact:hover {
  text-decoration: underline;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-family: var(--main-font);
  text-align: center;
  text-transform: uppercase;
  width: max-content;


}
.header__title--first-row {
  font-size: calc(72px + 88 * (100vw / 1920));
  line-height: 0.9;
  margin-bottom: 10px;

  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -ms-text-fill-color: white;
}
.header__title--second-row {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 100px;
  font-family: var(--other-fonts);
  font-weight: 600;

  color: black !important;
  -webkit-text-fill-color: white;
  -moz-text-fill-color: white;
  -ms-text-fill-color: white;
}
.header__title button {
  font-family: var(--other-fonts);
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;;
  background: rgba(41, 44, 38, 0.01);
  border: 3px solid #FCF9F5;
  padding: 15px 26px;
  border-radius: 8px;
  color: #fff;
  transition: all .2s ease;
}
.header__title button:hover {
  background: #FCF9F5;
  color: #292c26;
}
/* ______ */

.section__header_first {
  font-size: 4rem;
  font-family: var(--main-font-bold);
  font-weight: 400;
  line-height: 1;
  z-index: 5;
}
.section__header_second {
  font-size: 2.25rem;
  font-weight: 400;
  font-family: var(--other-fonts);
  z-index: 5;
}

section .wrapper {
  padding: 120px 0;
}


.header__wrapper {
  display: flex;
  flex-direction: column;
  z-index: 5;
}



/*=================== 
        Samples
  ===================*/
.samples {
  position: relative;
}

.samples .section__header_first {
  max-width: initial;
}

.samples .section__header_second {
  text-align: right;
}
#samples__backgorund-mask {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  display: none;
}

.samples__body {  
  padding-top: 222px;
  z-index: 5;
}

.samples__body__line {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 5;
  margin-top: 20px;
}
.samples__body__line:first-child {
  margin-top: 0;
}

.samples__body-item {
  height: 96px;
  color: #292C26;
  font-size: 3.5rem;
  font-family: 'Montserrat-Medium';
  line-height: 1;
  padding: 20px 48px;
  border: 2px solid #292C26;
  border-radius: 100px;
  background: transparent;
  cursor: pointer;
  z-index: 5;

  transition: all 0.2s ease-out;

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  -moz-backdrop-filter: blur(6px);
}

.samples__body-item._selected,
.samples__body-item:hover {
  background: #292C26;
  color: #FFE8D6;
}

.samples__body-item._selected {
  box-shadow: 0px 10px 10px #292C26;
}

.samples__body--scroll {
  display: none;
  gap: 30px;
  overflow-x: auto;
  margin-top: 40px;
}
.samples__body--scroll-item {
  width: 420px;
  height: 510px;
  flex-shrink: 0;
  border-radius: 8px;
  position: relative;
}
.samples__body--scroll-item:first-child {
  background: url('../assets/samples_scroll/first.png');
}
.samples__body--scroll-item:nth-child(2) {
  background: url('../assets/samples_scroll/second.png');
}
.samples__body--scroll-item:last-child {
  background: url('../assets/samples_scroll/first.png');
}
.samples-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(252, 249, 245, 0.5);
  backdrop-filter: blur(6px);

  border-radius: 0px 0px 8px 8px;
}
.samples-label p {
  font-size: 2.25rem;
  line-height: 0.8;
  color: #292C26;
  font-family: var(--other-fonts);
  
}

/*===================   
  ===================*/


/*===================
      Work Section
  ===================*/
.works .section__header_first {
  max-width: initial;
}

.works .section__header_first:last-child img {
  margin-left: 0;
}

.slider {
  margin-top: 100px;
  position: relative;
  height: 700px;
}
.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.slider__track {
  position: relative;
  height: 100%;
  transition: transform .25s linear;
}
.slider__track-containter {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slider__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 74.65%;
  z-index: 1;
  max-height: 650px;
}

.slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  border: none;
  background: transparent;
  z-index: 2;
}
.slider__button--right {
  right: -40px;
}
.slider__button--left {
  left: -40px;
}

/*======TEST SLIDER=========*/

.works__sliderWrapper{
  position: relative;
  margin-top: 100px;
  height: 60vh;
  display: flex;
  justify-content: center;
}

.works__swiper{
  height: 100%;
  width: 74.65%;
  cursor: grab;
}

.works__swiper__swiper-slide{
  width: 1220px;
}

.works__swiper-button-prev{
  position: absolute;
  top: 50%;
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  left: -34px;
}

.works__swiper-button-next{
  position: absolute;
  top: 50%;
  margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  right: -34px;
}

.slider_wrapper--mobile { display: none; }

/*---------mobileTouchSlider--------*/

.works__touchSlider{
  display: none;
  overflow: hidden;
  overflow-x: scroll;
  margin-top: 100px;
  height: 60vh;
  max-height: 480px;
  min-height: 380px;
}

.works__touchSlider__slide{
  min-width: 75vw;
  margin-right: 30px;
  cursor: grab;
}

@media screen and (max-width: 1200px) {
  .works__sliderWrapper{ display: none; }
  .works__touchSlider{ display: flex; }
}
/*======TEST SLIDER=========*/

/*===================   
  ===================*/


/*=================== 
   Calculate Section
  ===================*/
.calculate .wrapper {
  position: relative;
}

.calculate .section__header_first {
  margin-bottom: 20px;
}

#calculate__image {
  margin-top: 100px;
}
.calculate__calculator {
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr;
  width: max-content;
  grid-gap: 30px;
  background: rgba(100, 88, 83, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 8px;

  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}
.calculate__calculator p {
  font-size: 2.25rem;
  font-family: var(--main-font);
  line-height: 1;
}
.calculate__calculator div p {
  margin-bottom: 20px;
}
.calculate__calculator input {
  width: 100%;
  height: 60px;
  padding-left: 25px;
  font-size: 1.5rem;
  font-family: var(--other-fonts);
  background: #C2C0BE;
  border-radius: 8px;
  border: 0;
}

/* Sending */
.calculate__calculator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.calculate__calculator._sending::after {
  opacity: 1;
  visibility: visible;
}
/* _______ */

.wall-setup__checkbox { display: flex; }

.wall-setup__checkbox input {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.calculate__calculator .button {
  align-self: end;
}
.calculate__calculator .button button {
  background: url('../assets/backgrounds/buttom_bg.png') 0 0 / 100% no-repeat;
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 8px;
}
.calculate__button {
  font-size: 1.5rem;
  line-height: 1;
  font-family: var(--other-fonts-bold);
}

  /* Toddler */
.work-scope__toddler {
  display: flex;
  justify-content: space-between;

  max-height: 36px;
  margin-bottom: 20px;
}

.work-scope__toddler * {
  margin-bottom: 0 !important;
}

.toddler-container {
  min-height: 40px;
  display: flex;
  align-items: center;
}

#toddler-result {
  font-family: var(--other-fonts);
  font-size: 1.5rem;
  line-height: 0.5;
}

#toddler {
  -webkit-appearance: none;
  height: 4px;
  background: #D6D4D2;
  padding: 0;
}

#toddler::-webkit-slider-thumb {
  cursor: pointer;
  background: url('../assets/toddler_circle.svg') 0 0 / 100% no-repeat;
  width: 40px;
  height: 40px;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}

#toddler::-moz-range-thumb {
  cursor: pointer;
  background: url('../assets/toddler_circle.svg') 0 0 / 100% no-repeat;
  height: 40px;
  width: 40px;
  border: 0;
}
  /* _______ */

  /* Dropdowns */
.dropdown {
  position: relative;
}

.dropdown__button,
.dropdown__list-item,
.radio {
  font-size: 1.5rem;
  font-family: var(--other-fonts);
  cursor: pointer;
}

.dropdown__button {
  position: relative;
  width: 100%;
  height: 60px;
  text-align: left;
  background: #C2C0BE;
  border-radius: 8px;
  border: 0;
  padding: 0 40px 0 24px;
}

.dropdown__list-item {
  border: 1px solid #C2C0BE;
  border-bottom: 0;
  padding: 12px 24px;
  color: #645853;
}

.dropdown__list {
  width: 100%;
  background: #EAE8E6;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  position: absolute;
  z-index: 1;
  display: none;
}

.dropdown__list--visible {
  display: block;
}

.dropdown__list-item:last-child {
  border-bottom: 0;
}
.dropdown__list-item:hover {
  background-color: #C2C0BE;
}

.dropdown__input-hidden {
  display: none;
}
  /* ________ */


  /* Chekcboxes */
.radio__input { display: none; }

.radio {
  display: inline-flex;
  align-items: center;
}

.radio__radio {
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid #362620;
  border-radius: 50%;
  margin-right: 10px;
  padding: 8px;
  background: #C2C0BE;
}
.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #362620;
  border-radius: 50%;

  transform: scale(0);
  transition: transform 0.15s;
}
.radio__input:checked + .radio__radio::after {
  transform: scale(1.0);
}
.wall-setup__checkbox label {
  margin-right: 40px;
}
.wall-setup__checkbox label:last-child {
  margin-right: 0;
}
  /* __________ */
/*=================== 
  ===================*/

/*=================== 
        Masters
  ===================*/

.masters__header {
  width: 100% !important;
}

.video {
  margin-top: 100px;
  width: 100%;
}
.video video {
  height: 920px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;

}

/*==========NEW SLIDER TEST========*/

.slider_wrapper{
  margin-top: 80px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.masters_desktop__swiper-slide{
  height: auto !important;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid #292C26;
  box-sizing: border-box;
  border-radius: 8px;
}

.swiper-button-prev{
  left: -34px !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.swiper-button-next{
  right: -34px !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.slide__avatar{
  height: 200px;
  width: 200px;

  border: 3px solid #292C26;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
  object-fit: cover;
}

.slide__name{
  font-family: var(--main-font-bold);
  font-size: 3.375rem;
  text-align: center;
  color: #292C26;

  margin-top: 20px;
}

.slide__p{
  font-family: var(--other-fonts);
  font-size: 1.75rem;
  line-height: 1.3;
  color: #292C26;
  text-align: center;

  margin-top: 20px;
}

@media screen and (max-width: 1440px) {
  .slide__p {
    font-size: 1.625rem;
    margin-top: 10px;
  }
  .slide__name {
    font-size: 3.375rem;
  }
  .slide__avatar {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 768px) {
  .slide__p {
    font-size: 1.375rem;
  }
  .slide__name {
    font-size: 3.25rem;
  }
}
/*==========NEW SLIDER TEST========*/

/*=================== 
  ===================*/


/*=================== 
      Choose Us
  ===================*/
.choose-us .section__header {
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.choose-us__reasons {
  position: relative;
  min-height: 300px;
  margin-bottom: 40px;
}
.choose-us__reasons:last-child {
  margin-bottom: 0;
}


.choose-us__reasons-item--right { right: 0; }
.choose-us__reasons-item--left { left: 0; }

.choose-us__reasons-item--left .reasons,
.choose-us__reasons-item--right .reasons {
  width: 60%;
  font-family: var(--other-fonts);
  font-size: 1.75rem;
  line-height: 1.3;
  color: #292C26;
  text-align: center;
}

.choose-us__reasons-item--left span,
.choose-us__reasons-item--right span {
  color: #FF570A;
}

.choose-us__reasons-item--left,
.choose-us__reasons-item--right {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid black;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  border-radius: 100%;
  top: 0;
  width: 55%;
}


.choose-us__reasons-item span {
  color: #CC492C;
}

.choose-us__item-number {
  font-family: var(--main-font-bold);
  font-size: 4rem;
  line-height: 1.3;
}

.choose-us__item-number.top-left,
.choose-us__item-number.top-right {
  position: absolute;
  top: 5%;
}
.choose-us__item-number.top-right { right: 5%; }
.choose-us__item-number.top-left { left: 5%; }
/*=================== 
  ===================*/


/*=================== 
    How Do We Work
  ===================*/
.how-we-work {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url('../assets/backgrounds/how_we_work_bg.png') 0 0 / 100% no-repeat;
  background-size: cover;
  position: relative;
}
.how-we-work .section__header h1 img {
  border: 3px solid white;
}
.how-we-work::before {
  content: "";
  position: absolute;
  opacity: 0.5;
  background-color: #000;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.how-we-work .wrapper {
  z-index: 3;
  color: #F2ECE6;
  position: relative;
}
.how-we-work .section__header_first {
  margin-bottom: 21px;
}
.section__header_second {
  font-size: 2rem;
}
.how-we-work .section__header_second {
  width: 70%;
  line-height: 1.3;
}
.how-we-work__items__header {
  font-family: var(--main-font);
  font-size: 3.375rem;
  line-height: 1.3;
  color: #F2ECE6;
  width: 55%;
}
.how-we-work__items__paragraph {
  font-family: var(--other-fonts);
  font-size: 2.125rem;
  line-height: 1.45;
  color: #F2ECE6;
  width: 40%;
}

.how-we-work__items {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #F2ECE6;
  margin-top: 100px;
  padding: 40px 0 40px 0;
}
/*=================== 
  ===================*/


/*===================
        Footer
  ===================*/
.footer {
  background: #2B2C2A;
}
.footer .wrapper {
  padding: 120px 0;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.social-links {
  display: flex;
}
.footer__contacts {
  display: flex;
  gap: 90px;
  margin-top: 100px;
}

.footer h1,
.footer__contacts__items {
  line-height: 1;
  color: #F2ECE6;
}

.footer h1 {
  text-transform: uppercase;
  font-family: 'Mak';
  font-size: 12.5rem;
  width: 100%;
  text-align: center;
}
.footer__contacts__items {
  font-size: 2rem;
  font-family: var(--other-fonts);
  width: 50%;
}
.footer__contacts__items h2 {
  font-size: 4rem;
  font-family: var(--main-font-bold);
}
.contacts-item {
  display: flex;
  gap: 25px;
  font-weight: 600;
  margin-top: 50px;
}
.contacts-item img {
  height: 100%;
}

.footer_contacts__map {
  width: 50%;
}
.footer_contacts__map iframe {
  border: 0;
  border-radius: 8px;
  width: 100%;
}
/*=================== 
  ===================*/


/*===================
        Errors
  ===================*/
._error {
  box-shadow: 0 0 15px red;
}


/*===================
        Popups
  ===================*/
.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  top: 0;
  left: 0;
  transition: all 0.6s ease;

  visibility: hidden;
  opacity: 0;
  z-index: 20;
}
.popup.open {
  visibility: visible;
  opacity: 1;
}
.popup.open .popup__content {
  opacity: 1;
  transform: translate(0px, 0px);
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  max-width: 802px;
  background: #FFF;
  border-radius: 17px;
  padding: 40px;
  position: relative;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.6s ease;
}
.popup__close {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
}
.popup__header {
  font-size: 4rem;
  font-family: var(--main-font);
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #292C26;
  line-height: 1;
}
.popup__subheader {
  font-size: 2.25rem;
  font-weight: normal;
  font-family: var(--other-fonts-bold);
  margin-bottom: 80px;
  color: #515048;
  line-height: 1;
}
.popup__form {
  font-family: var(--other-fonts-bold);
  font-size: 2.125rem;
  font-weight: normal;
  color: #292C26;
}
.popup__input {
  width: 100%;
  max-height: 68px;
  padding: 22px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-family: var(--other-fonts-bold);
  font-weight: normal;
  border-radius: 8px;
  border: 1px solid #292C26;
}
.popup__form__header { margin-bottom: 20px; }
.popup__form__button {
  width: 100%;
  height: 80px;
  font-family: var(--other-fonts);
  font-size: 1.75rem;
  font-weight: 900;
  background: url('../assets/backgrounds/buttom_bg.png') 0 0 / 100% no-repeat;
  border: 0;
  border-radius: 8px;
}
/*=================== 
  ===================*/

@media screen and (max-width: 1700px) {
  .footer h1 {
    font-size: 10rem;
  }
}

@media screen and (max-width: 1440px) {
  .works .wrapper { padding: 0; }
  .choose-us .wrapper { padding-top: 50px; }
  .how-we-work .wrapper { padding-bottom: 20px; }


  .header__title--second-row {
    font-size: 2rem;
  }

  .menu__burger {
    width: 80px;
    height: 26px;
  }
  .menu__burger::after,
  .menu__burger::before,
  .menu__burger span {
    height: 6%;
  }

  .header__logo img {
    max-width: 84%;
  }
  .header__contact {
    font-size: 1.75rem;
  }
  .header__contact a::before {
    width: 24px;
    height: 24px;
    position: absolute;
    left: -40px;
  }

  .samples__imgsWrapper {
    width: 80%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
  }
  #samples__backgorund-mask {
    position: relative;
    transform: scale(.75);
    z-index: 1;
    display: none;
    object-fit: cover;
    left: 0;
  }

  .section__header h1 img {
    height: 64px;
    width: 64px;
    margin: -10px 20px 0 20px;
  }
  .works .wrapper {
    padding-top: 10px;
  }

  .header__title button {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #calculate__image { height: 550px; }

  .calculate__calculator {
    bottom: 40px;
    width: 1000px;
  }

  .section__header_first,
  .section__header_first {
    font-size: 3.75rem;

  }
  .section__header_second { font-size: 1.875rem; }
  
  .samples__body {
    padding-top: 100px;
  }

  .samples__body-item {
    height: 76px;
    font-size: 2.25rem;
  }

  .how-we-work__items { margin-top: 40px; }
  .video video { height: 720px; }


  .choose-us__reasons-item--left {
    margin-left: -50px;
    width: 60%
  }
  .choose-us__reasons-item--right {
    margin-right: -50px;
    width: 60%
  }

  .choose-us__reasons-item--left .reasons,
  .choose-us__reasons-item--right .reasons,
  .how-we-work__items__paragraph,
  .footer__contacts__items p {
    font-size: 1.625rem;
  }

  .how-we-work__items__header { font-size: 3rem; }
  .how-we-work__items__paragraph { line-height: 1.45; }
  

  .slider { height: 550px; }

  .footer h1 {
    font-size: 9rem;
    margin-bottom: 20px;
  }
  .footer__contacts { margin-top: 80px; }
  .footer__contacts__items h2 { font-size: 3.75rem; }
  .contacts-item img { width: 25px; }

  .menu__item {
    font-size: 3rem;
    padding: 30px 0;
  }

  .popup__content {
    max-width: 560px;
  }
  .popup__header {
    font-size: 3rem;
    margin-bottom: 12px;
  }
  .popup__subheader {
    font-size: 1.625rem;
    margin-bottom: 40px;
  }
  .popup__form { font-size: 1.5rem; }
  .popup__input {
    max-height: 68px;
    margin-bottom: 32px;
  }
  .popup__form__header { margin-bottom: 16px; }
  .popup__form__button {
    width: 100%;
    height: 68px;
    font-size: 1.5rem;
  }
}



@media screen and (max-width: 1024px) {
  .wrapper { width: 90%; }
  .works .wrapper { padding-top: 20px; }
  .header .wrapper { height: 85vh; }
  .samples .wrapper { padding-top: 50px; }

  .header__contact { font-size: 1.5rem; }
  .header__contact a::before {
    height: 20px;
    width: 20px;
    left: -30px;
  }
  
  .section__header_first { font-size: 3.375rem; }

  .samples__body,
  #samples__backgorund-mask,
  .section__header_second br {
    display: none !important;
  }  

  .samples .section__header_second { text-align: left; }
  .samples__body--scroll { display: flex; }

  .section__header { display: block; }

  .header__wrapper {
    flex-direction: row;
    gap: 20px;
  }
  .section__header p {
    max-width: 100% !important;
    text-align: left;
  }


  .slider { height: 488px; }

  .slider { height: 488px; }
  .section__header h1 img {
    height: 64px;
    width: 64px;
    margin: -10px 12px 0 12px;
  }

  .calculate__calculator {
    width: 880px;
    left: 64px;
  }

  .works .header__wrapper {
    display: block;
  }

  .video video { height: 530px; }

  .slider_wrapper {
    display: none;
  }
  .slider_wrapper--mobile {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    flex-shrink: 0;
    margin-top: 40px;
  }
  .masters_desktop__swiper-slide {
    min-width: 75%;
    /*height: 693px !important;*/
    margin-right: 40px;
  }
  .masters_desktop__swiper-slide:last-child {
    margin-right: 0;
  }

  .choose-us__reasons-item--right,
  .choose-us__reasons-item--left {
    position: relative;
    width: 80%;
    padding: 35px 0;
    backdrop-filter: blur(2px);
    margin-left: 0;
    margin-right: 0;
  }
  .choose-us__reasons-item--right {
    margin: -20px 0 -60px auto;
  }
  .choose-us__reasons-item--left .reasons,
  .choose-us__reasons-item--right .reasons {
    width: 70%;
  }

  .section__header_second { font-size: 1.875rem; }

  .how-we-work .section__header_first { max-width: 100%; }
  .how-we-work .section__header_second { margin-bottom: 60px; }
  .how-we-work__items__header { margin-bottom: 10px; }

  .how-we-work__items {
    display: block;
    padding: 60px 0;
    margin-top: 0;
  }
  
  .how-we-work__items__header,
  .how-we-work__items__paragraph {
    width: 100%;
  }

  .footer h1 { font-size: 7rem; }
  .footer .wrapper { padding-top: 60px; }
  .footer__contacts { gap: 50px; }
  .footer_contacts__map { width: 60%; }
  .footer__contacts__items h2 { font-weight: 400; }
  .footer__contacts__items { width: 70%; }
  

  .menu__item {
    font-size: 3.5rem;
    padding: 30px 0;
  }
}


@media (max-width: 768px) {
  .how-we-work .wrapper,
  .wrapper {
    width: 94%;
    padding-top: 70px;
  }

  .section__header h1 img {
    height: 60px;
    width: 60px;
    margin: -10px 12px 10px 12px;
  }

  .header__title--first-row {
    font-size: calc(72px + (8 + 8 * 0.7) * ((100vw - 600px) / 100));
  }
  .header__title--second-row {
    font-size: 28px;
  }
  .header__contact {
    display: none;
  }

  .wrapper__top-nav {
    justify-content: end;
  }
  .header__logo {
    left: 0;
    transform: translateX(0);
  }
  .header__wrapper,
  .footer__contacts {
    display: block;
  }

  .section__header_second { margin-top: 10px; }

  .samples__body--scroll-item {
    width: 380px;
    height: 420px;
  }

  .slider {
    height: 380px;
    margin-top: 40px;
  }

  .slider__button { width: 65px; }
  .slider__button--left { left: -20px; }
  .slider__button--right { right: -20px; }
  .video video { height: 420px; }
  #calculate__image { margin-top: 40px; }
  .calculate__wrapper { position: relative; }

  .calculate__calculator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    grid-template-columns: 50% calc(50% - 20px);
    grid-gap: 20px;
    padding: 20px 20px 0 20px;
    background: rgba(100, 88, 83, 0.1);
  }

  .calculate__calculator p { font-size: 2rem; }

  .calculate__calculator .button button,
  .calculate__calculator input,
  .dropdown__button {
    font-size: 1.25rem;
    height: 54px;
  }
  .wall-setup__checkbox { display: block; }
  .calculate__calculator .button { align-self: start; }
  .calculate__button {
    margin-top: 52px;
  }


  .choose-us__reasons-item--left .reasons,
  .choose-us__reasons-item--right .reasons {
    font-size: 1.375rem;
  }
  .choose-us__item-number.top-left,
  .choose-us__item-number.top-right,
  .footer__contacts__items h2 {
    font-size: 3.375rem;
  }
  .choose-us .section__header {
    margin-bottom: 40px;
  }

  .masters_desktop__swiper-slide {
    min-width: 85%;
    margin-right: 40px;
    padding: 30px !important;
  }
  .masters_desktop__swiper-slide:last-child {
    margin-right: 0;
  }

  .description p,
  .how-we-work__items__paragraph,
  .footer__contacts__items p {
    font-size: 1.375rem;
  }

  .section__header_second { font-size: 1.5rem; }
  .how-we-work__items__header { font-size: 2.75rem; }
  .how-we-work .section__header_second { margin-bottom: 40px; }

  .choose-us .section__header h1 {
    max-width: 100%;
  }
  
  .footer__contacts { margin-top: 60px; }
  .footer h1 { font-size: 5.5rem; }
  .footer__socials { gap: 40px; }
  .footer__socials img {
    height: 48px;
    width: 48px;
  }

  .footer__contacts__items { margin-bottom: 50px; }
  
  .footer_contacts__map { height: 420px; }
  .footer_contacts__map iframe { height: 100%; }

  .footer__contacts__items,
  .footer_contacts__map {
    width: 100%;
  }

  .blur { padding-top: 25px; }
  .menu__item {
    font-size: 3rem;
    padding: 20px 0 20px 20px;
    text-align: left;
    border-bottom: 3px solid #fff;
  }
}


@media (max-width: 599px) {
  .calculate .wrapper { padding: 80px 0 0 0; }
  .footer .wrapper,
  .choose-us .wrapper,
  .masters .wrapper {
    padding: 40px 0;
  }


  .header__title--second-row { margin-bottom: 40px; }
  .section__header_first { font-size: 3rem; }
  .section__header_second { font-size: 1.25rem; }
  .samples .section__header_second { max-width: 70% !important; }

  .header__title button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .calculate__calculator {
    display: block;
    padding: 40px 20px;
  }
  .calculate__calculator > div { margin-bottom: 30px; }

  .calculate__calculator .button button,
  .calculate__calculator input,
  .dropdown__button,
  .radio,
  .dropdown__list-item {
    font-size: 1.125rem;
    height: 50px;
  }
  .calculate__calculator input,
  .dropdown__button {
    padding-left: 16px;
  }

  #calculate__image { height: 750px; }
  .phone { margin-bottom: 0 !important; }
  .calculate__button { margin: 12px 0 0 0; }

  .radio__radio,
  #toddler::-webkit-slider-thumb {
    height: 32px;
    width: 32px;
  }

  .wall-setup__checkbox label {  margin-right: 24px; }
  .choose-us__reasons:last-child { margin-top: -24px; }

  /* Заменить на классы */
  .section__header h1 img {
    margin: -10px 12px 10px 12px;
    height: 54px;
    width: 54px;
  }

  .left-clip { display: none; }
  .choose-us__reasons { margin-bottom: 0; }

  .choose-us .section__header {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .choose-us .section__header_first,
  .choose-us .section__header_second {
    justify-content: center;
  }
  .choose-us__reasons-item--left .reasons,
  .choose-us__reasons-item--right .reasons {
    font-size: 1.25rem;
    width: 75%;
  }

  .choose-us__reasons-item--left,
  .choose-us__reasons-item--right {
    position: relative;
    width: 100%;
    padding: 48px 0;
    margin-bottom: -20px;
  }
  .choose-us__item-number.top-right { left: 5%; }

  .choose-us__item-number.top-left,
  .choose-us__item-number.top-right {
    font-size: 3rem;
  }

  .how-we-work .section__header_first { margin-bottom: 4px; }
  .how-we-work__items { padding: 40px 0; }
  
  .footer h1 { font-size: 4.5rem; }
  .footer_contacts__map { height: 320px; }
  .how-we-work__items__header { font-size: 2rem; }

  .footer__contacts__items h2,
  .choose-us__item-number {
    font-size: 3rem;
  }
  .how-we-work__items__paragraph,
  .footer__contacts__items p {
    font-size: 1.25rem;
  }

  .footer__socials img {
    width: 50px;
    height: 50px;
  }

  .popup__content {
    max-width: 420px;
    padding: 30px;
  }
  .popup__header {
    font-size: 2.25rem;
    margin-bottom: 8px;
  }
  .popup__subheader {
    font-size: 1.25rem;
  }
  .popup__form__header {
    font-size: 1.125rem;
    margin-bottom: 12px;
  }
  .popup__input {
    height: 50px;
    font-size: 1.125rem;
    padding: 16px;
    margin-bottom: 20px;
  }
  .popup__form__button {
    height: 50px;
    font-size: 1.125rem;
  }
  .popup__close {
    top: 30px;
    right: 30px;
  }

  .blur {
    padding-top: 30px;
  }
  .menu__item {
    font-size: 2.3rem;
  }
}

@media (max-width: 450px) {
  .header .wrapper{ 
    height: 100vh;
  }
  .samples__body--scroll-item {
    width: 80%;
  }
  .samples-label p {
    font-size: calc(100vw / 17 + 0.8vh);
  }


  .popup__content {
    max-width: 359px;
    padding: 16px 12px;
  }
  .popup__close {
    top: 16px;
    right: 12px;
  }
  .popup__header { margin-bottom: 4px; }
  .popup__subheader { margin-bottom: 32px; }
}

@media (min-width: 376px) {
  .header__title--first-row br {
    display: none;
  }
}
@media (max-width: 375px) {
  .samples .wrapper { padding-bottom: 60px; }

  .menu__burger {
    width: 60px;
    height: 24px;
  }

  .header__title--first-row { font-size: 6rem; }
  .header__title--second-row { font-size: 1.25rem; }
  .section__header_first { font-size: 2.5rem; }
  
  .section__header h1 img {
    height: 36px;
    width: 36px;
    margin: -3px 8px 10px 8px;
  }

  .section__header_second { line-height: 1.1; }
  .samples .section__header_second { max-width: 100% !important; }

  .choose-us__reasons-item--right,
  .choose-us__reasons-item--left {
    padding: 20px 0;
    width: 125%;
    margin: 0px -40px -10px;
  }
  .choose-us__reasons-item--left .reasons,
  .choose-us__reasons-item--right .reasons,
  .header__title button {
    font-size: 1rem;
  }
  .choose-us__item-number.top-left,
  .choose-us__item-number.top-right {
    font-size: 1.75rem;
    left: 10%;
  }

  .how-we-work__items__paragraph,
  .footer__contacts__items p {
    font-size: 1.125rem;
  }

  .footer__socials img {
    width: 40px;
    height: 40px;
  }

  #toddler-result {
    font-size: 1.125rem;
    margin-top: 5px;
  }
  .work-scope__toddler {
    margin-bottom: 25px !important;
  }

  .footer h1 { font-size: 3rem; }
  .footer__contacts__items h2 { font-size: 2rem; }
  .how-we-work__items__header { font-size: 1.75rem; }

  .footer__contacts { margin-top: 40px; }
  .footer__contacts__items { margin-bottom: 40px; }

  .footer_contacts__map { height: 140px; }
  .contacts-item img { width: 21px; }

  .contacts-item {
    gap: 15px;
    margin-top: 30px;
  }

  .menu__item {
    font-size: 2rem;
    border-bottom: 3px solid #fff;
  }
  .work-scope__toddler {
    display: block;
  }
}

@media (max-width: 359px) {
  #calculate__image {
    height: 800px ;
  }
}
@media (max-width: 357px) {
  #calculate__image {
    height: 835px;
  }
}

@media (max-width: 321px) and (max-height: 569px) {
  .header .wrapper {
    height: 100vh;
  }
  .header__title--first-row {
    font-size: 87px;
  }
  .header__logo img {
    max-width: 70%;
  }
  .menu__burger {
    height: 19px;
  }
}